.changePrivilegTableCell{
    width:10%;
    padding:0 1px;
    border-left:1px solid #EDEDED;
    border-right:1px solid #EDEDED;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.changePrivilegTableCellTop{
    width:26%;
    padding:0 1px;
    border-left:1px solid #EDEDED;
    border-right:1px solid #EDEDED;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.changePrivilegTableCellTop:nth-last-child(1){
    width:5%;
}
